<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>پرتال حل تمرین</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <link href="https://cdn.rawgit.com/rastikerdar/vazir-font/v18.0.1/dist/font-face.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="static/login/css/style.css">
  <link rel="stylesheet" href="static/panelShared/css/animate.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <link rel="stylesheet" href="static/panelShared/css/styles.css">
  <script src='static/general/js/general.js'></script>
  <script src="/static/general/js/ajax.js"></script>
  <script  src="static/login/js/index.js"></script> 

</head>

<body>
  <div id="cont">  
  <div class="demo">
    <div class="login">
      <!--<div class="login__check"></div>-->
      <div id="icon-place"></div>
      <div class="login__form">
        <div class="login__row">
      {% module xsrf_form_html() %}
          <input id="login_username" type="text" class="login__input name" placeholder="نام کاربری"/>
          <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
		  </svg>

        </div>
        <div class="login__row">
          <input id="login_password" type="password" class="login__input pass" placeholder="کلمه عبور"/>
          <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
          </svg>
        </div>
        <button type="button" class="login__submit">ورود</button>
        <p class="login__signup">اکانت ندارید؟ &nbsp;<a href="/register">ثبت نام</a></p>
      </div>
    </div>
  </div>
  <div id="bullets" class="white">
    <div class="one active"></div>
    <div class="two"></div>
    <div class="three"></div>
  </div>
</div>





</body>

</html>
