
<div class="x_panel">
    <div class="x_title">
        <h2>اضافه کردن درس
            <small>پنل مدیر</small>
        </h2>
   
    </div>
    <div class="x_content">
        <br>
        <form id="lesson" action="/api/lesson/add" method='POST' enctype="multipart/form-data" novalidate="" data-parsley-validate onsubmit="return false">
                {% module xsrf_form_html() %}  
            <div class="item form-group">
                <label for="title">کد درس  <span class="required">*</span> :</label>
                <input id="title" class="form-control" name="lesson_code" required data-validate-length-range="6" data-validate-words="2" type="text">
            </div>

            <div class="item form-group">
               <label for="title">عنوان درس  <span class="required">*</span> :</label>
                <input id="title" class="form-control" name="lesson_title" required data-validate-length-range="6" data-validate-words="2" type="text">
            </div>
            
            <div class="ln_solid"></div>

            <div class="alert alert-success" id="error_div" style="display:none"></div>

            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary">انصراف</button>
                <button id="send" onclick="return generalFormSubmit('#lesson','/api/lesson/add')"  type="submit" class="btn btn-success">اضافه کن</button>
            </div>

       </form>
        <script>
         </script>
    </div>
</div>