<div class="x_panel">

    <div class="x_title">
        <h2>تغییر رمز
            <small>پنل مدیر</small>
        </h2>
    </div>

    <div class="x_content">
        <br>
        <form id="password" action="/api/password" method='POST' enctype="multipart/form-data" novalidate="" data-parsley-validate onsubmit="return false">
                {% module xsrf_form_html() %}  
            <div class="item form-group">
                <label for="title">رمز عبور فعلی<span class="required">*</span> :</label>
                <input type="password" class="form-control" name="current_password" required>
            </div>

            <div class="item form-group">
                <label for="title">رمز عبور جدید<span class="required">*</span> :</label>
                <input type="password" class="form-control" name="new_password" required data-parsley-minlength="6">
            </div>

            <div class="item form-group">
                <label for="title">تکرار رمز عبور<span class="required">*</span> :</label>
                <input type="password" class="form-control" name="repeat_new_password" required data-parsley-minlength="6">
            </div>

            <div class="alert alert-success" id="error_div" style="display:none"></div>

            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary">انصراف</button>
                <button id="send" onclick="return generalFormSubmit('#password','/api/password')"  type="submit" class="btn btn-success">انجام</button>
            </div>

       </form>
        <script>
        </script>
    </div>
</div>