body {
    background: #eee!important;
	display: flex;
flex-direction: column;
justify-content: center;
height: 100%;
}
h1,h2,h3,h4,h5,h6,p,a,del,ins,span,div,input,label,button,textarea {
  font-family:'Vazir', sans-serif!important;
}
* {
    padding: 0;
    margin: 0;
}
button::-moz-focus-inner {
  border: 0;
}
button:focus { 
    outline: none!important; 
}
#chat-box {
width: 640px;
margin: 0 auto;
/*border: solid 1px #ddd;*/
border-radius: 4px;
overflow: hidden;
background: #fefefe;
display: flex;
flex-direction: column;
box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.06);
margin-bottom: 8px;
}
#chat-box #main {
    display: flex
}
#sidebar{
width: 25%;
background: #f8f8f8;
border-right: solid 1px #eee;
z-index: 100
}
#send-message-bar {
    padding: 8px 0;
	background: #fefefe
}
#content{
    width:75%;
    display:inline-block;
}
#message-bar {
    min-height: 360px;
	padding: 14px;
	display: flex;
flex-direction: column;
max-height: 320px;
overflow: auto;
margin-bottom: 12px;
}
#message-bar p {
	background: #f7fcff88;
	border-radius: 48px;
	padding: 4px 12px;
	border: solid 1px #00a5ff44;
	margin-bottom: 8px;
	width: auto;
	float: left;
	margin-right: auto;
	margin-left: 0;
}
#message-bar p.sender {
float: right;
right: 0;
margin-left: auto;
margin-right: 0;
background: #f8f8f8;
border-color: #ddd;
}
#new-message-bar *{
    display:inline-block;
}
#new-message-bar input {
	width: 100%;
	background: #fff;
	outline: none;
	border: none;
	padding: 10px;
    text-align: center
}
#new-message-bar button {
	width: 100%;
	outline: 0;
	border: none;
background: rgb(0,93,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(0,93,255,1) 0%, rgba(0,103,247,1) 50%, rgba(0,106,255,1) 50%, rgba(0,71,193,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(0,93,255,1) 0%,rgba(0,103,247,1) 50%,rgba(0,106,255,1) 50%,rgba(0,71,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(0,93,255,1) 0%,rgba(0,103,247,1) 50%,rgba(0,106,255,1) 50%,rgba(0,71,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005dff', endColorstr='#0047c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #fff;
	padding: 8px;
	cursor: pointer;
    margin: 0;
    opacity: 0.4;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
#new-message-bar button:hover {
    opacity: 0.7
}
header {
background: rgb(0,93,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(0,93,255,1) 0%, rgba(0,103,247,1) 50%, rgba(0,106,255,1) 50%, rgba(0,71,193,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(0,93,255,1) 0%,rgba(0,103,247,1) 50%,rgba(0,106,255,1) 50%,rgba(0,71,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(0,93,255,1) 0%,rgba(0,103,247,1) 50%,rgba(0,106,255,1) 50%,rgba(0,71,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005dff', endColorstr='#0047c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
padding: 12px;
text-align: center;
color: #fff;
font-size: 18px;
font-weight: bold
}


#send-message-bar textarea {
margin: 0 2px 0 10px;
outline: none;
padding: 4px 12px 0;
border-radius: 48px;
resize: none;
background: #fcfcfc;
width: 87%;
text-align: right;
font-size: 14px;
color: #333;
border: solid 1px #eaeaea;
height: 34px;
direction: rtl;
}
#send-message-bar button {
	margin: 0;
background: rgb(0,93,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(0,93,255,1) 0%, rgba(0,103,247,1) 50%, rgba(0,106,255,1) 50%, rgba(0,71,193,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(0,93,255,1) 0%,rgba(0,103,247,1) 50%,rgba(0,106,255,1) 50%,rgba(0,71,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(0,93,255,1) 0%,rgba(0,103,247,1) 50%,rgba(0,106,255,1) 50%,rgba(0,71,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005dff', endColorstr='#0047c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border: none;
	border-radius: 50%;
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding: 8px;
	opacity: 0.6;
	outline: none;
	cursor: pointer;
    transition: all 0.4s;
    
}
#send-message-bar button:hover,#send-message-bar.typing button {
    opacity: 1
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbb;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bbb;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #bbb;
}
#contact p {
text-align: center;
padding: 10px;
border-bottom: solid 1px rgba(0,0,0,0.03);
background: rgba(0,0,0,0.01);
cursor: pointer;
-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}
#contact p:hover {
	background: rgba(0,0,0,0.06);
}
#contact li.active-contact p {
	color: #00a5ff;
background: #fff6;
border-bottom: solid 1px #00a5ff;
border-top: solid 1px #00a5ff;
}
#content {
	position: relative
}
#content::after {
    content: '';
    width: 96%;
height: 24px;
position: absolute;
bottom: 50px;
background: -moz-linear-gradient(top, rgba(253,253,253,0) 0%, rgba(253,253,253,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(253,253,253,0) 0%,rgba(253,253,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(253,253,253,0) 0%,rgba(253,253,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fefefe', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
opacity: 0
}
#message-bar > p.sender:last-of-type {
	border-bottom-right-radius: 0
}
#message-bar > p.receiver:last-of-type {
	border-bottom-left-radius: 0
}