<!DOCTYPE>
<html>
    <head>
        <title>چت روم سیستم مدیرت دروس</title>
        <link href="/static/chat/style.css" rel="stylesheet">
        <link href="/static/panelShared/css/custom.min.css" rel="stylesheet">
        <link href="/static/panelShared/css/styles.css" rel="stylesheet">
        <link href="https://cdn.rawgit.com/rastikerdar/vazir-font/v18.0.1/dist/font-face.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="/static/chat/chat.js"></script>
        <script src="/static/general/js/general.js"></script>

    </head>
    <body>
        <div id="chat-box">
            <header>
                چت روم سیستم مدیرت دروس
            </header>
            <div id="main">
                <div id="sidebar">
                    <div id="profile"></div>
                    <div id="search-bar"></div>
                    <div id="users">
                        <div id="new-message-bar"><input id="new_contact_input" placeholder="نام مخاطب را وارد کنید"/><button id="new-contact">افزودن مخاطب</button></div>
                        <ul id="contact">

                        </ul>
                    </div>
                </div>
                <div id="content">
                    <div id="message-bar"></div>
                    <div id="send-message-bar">
                        <textarea id="text-message"></textarea>
                        <button id="btn_send"><i class="fa fa-send-o"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </body>

<script>
    up = new Updater('{{token}}')
var input = document.getElementById("text-message");
input.addEventListener("keyup", function(event) {
  event.preventDefault();
    document.getElementById("send-message-bar").classList.add("typing")
  if (event.keyCode === 13) {
    document.getElementById("btn_send").click();
  }
}); 
var contact = document.getElementById("new_contact_input");
contact.addEventListener("keyup", function(event) {
  event.preventDefault();
  if (event.keyCode === 13) {
    document.getElementById("new-contact").click();
  }
}); 
</script>
</html>