a.site_title span {
	font-size: 19px;
	font-weight: 500;
}
.profile_info h2 {
    font-weight: 500;
}
li {
  list-style: none!important;
}
a {
  text-decoration: none!important;
}
* {
  outline: 0;
}

#Logout_Icon {
	width: 100%;
	height: 100%;
	color: #cc2900;
}

.fas.fa-angle-double-down.fa-10x{
	font-size: 290px;
	align-content: center;
	padding-top: 0px;
	padding-left: 55px;
	color: white;
}
.navbar.nav_title {
	background: rgba(0,0,0,0.32);
}
div.profile {
	background: rgba(0,0,0,0.12);
padding-bottom: 12px;
}
