<div class="x_panel">
    <div class="x_title">
        <h2>اضافه کردن دانشجو یا حل تمرین 
            <small>پنل استاد</small>
        </h2>
   
	</div>
    <div class="x_content">
        <br>
        <form id="add_member_to_course" method='POST' enctype="multipart/form-data" novalidate="" validate onsubmit="return false">
                {% module xsrf_form_html() %}  
            <div class="item form-group">
                <label for="course">دوره <span class="required">*</span> :</label>
                <select id="course" name="course" class="form-control" required="">
                </select>
			</div>
			
			<div class="item form-group">
                <label for="ta_or_stu">کاربر <span class="required">*</span> :</label>
                <select id="ta_or_stu" name="ta_or_stu" class="form-control" required="">
					<option value="student">دانشجو</option>
					<option value="teacher_assistant">حل تمرین</option>
                </select>
			</div>
			
            <div class="item form-group">
				<label for="member_user">شماره دانشجویی <span class="required">*</span> :</label>
				<input id="member_user" class="form-control" name="member_user" required type="text">
			</div>

			<div class="alert alert-success" id="error_div" style="display:none">
				
			</div>

            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary">انصراف</button>
                <button id="send" onclick="return generalFormSubmit('#add_member_to_course','/api/member/add')"  type="submit" class="btn btn-success">ارسال</button>
            </div>

	   </form>
        <script>
            request = new AjaxRequest('/api/exercise/userCourses');
			requestPromise = request.process();
			requestPromise.then(function(result) {
				let data = JSON.parse(result);
				for(let i in data['data']){
					let node = document.createElement("option");
					node.value = data['data'][i][0];
					node.innerText = data['data'][i][1]
					document.querySelector('#course').appendChild(node);
				}
				return false;
			});            
		</script>
    </div>
</div>