<div class="x_panel">
    <div class="x_title">
        <h2>اضافه کردن تمرین 
            <small>پنل استاد</small>
        </h2>
   
    </div>
    <div class="x_content">
        <br>
        <form id="exercise" action="/api/exercise/add" validate method='POST' enctype="multipart/form-data" novalidate="" data-parsley-validate onsubmit="return false">
                {% module xsrf_form_html() %}  
            <div class="item form-group">
               <label for="title">عنوان تمرین <span class="required">*</span> :</label>
                <input id="title" class="form-control" name="title" required required minlength="10" maxlength="200" type="text">
            </div>

            <div class="item form-group">
                <label for="title">دوره <span class="required">*</span> :</label>
                <select id="course" name="course" class="form-control" required>
                </select>
            </div>

            <div class="item form-group">            
                <label for="description">توضیحات تمرین  <span class="required">*</span></label>
                <textarea id="description" name="description" required class="form-control" minlength="10" maxlength="2000"></textarea>
            </div>
            <div class="item form-group">
                <label for="start_time">زمان شروع<span class="required">*</span> :</label>
                 <input id="start_time" class="form-control" name="start_time" required minlength="8" maxlength="8" type="text">
             </div>
             <div class="item form-group">
                <label for="end_time">زمان پایان<span class="required">*</span> :</label>
                 <input id="end_time" class="form-control" name="end_time" required minlength="8" maxlength="8" type="text">
             </div>            
             <div class="item form-group">
                <label for="file">فایل تمرین  <span class="required">*</span> :</label>
                <input id="file" name="file" class="form-control file"  required type="file">
            </div>
            <div class="alert alert-success" id="error_div" style="display:none"></div>

             <div class="ln_solid"></div>

            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary">انصراف</button>
                <button id="send" onclick="return generalFormSubmitWithFile('#exercise','/api/exercise/add')"  type="submit" class="btn btn-success">ارسال</button>
            </div>

       </form>
        <script>
            let xsrf = getCookie("_xsrf")
            request = new AjaxRequest("/api/exercise/userCourses", "GET");
            requestPromise = request.process();

            requestPromise.then(function(result) {
                let data = JSON.parse(result);
                let course_list = document.getElementById("course")
                for(const item of data['data']){
                    let option = document.createElement("option")
                    option.value = item[0];
                    option.text = item[1];
                    course_list.appendChild(option);
                }
                console.log(data['data']);

            });
            requestPromise.catch(function(result) {
				document.querySelector(".login__submit").classList.remove("processing")
				document.querySelector(".login__submit").classList.add("login__failed")
				document.querySelector(".login__submit").innerText = "خطا در ارتباط";
           }); 
           

            
        </script>
    </div>
</div>