<div class="x_panel">
    <div class="x_title">
        <h2>اضافه کردن درس 
            <small>پنل استاد</small>
        </h2>
   
    </div>
    <div class="x_content">
        <br>
        <form id="teacher_add_course" action="/api/course/add" method='POST' enctype="multipart/form-data" onsubmit="return false" validate>
                {% module xsrf_form_html() %}  
            <div class="item form-group">
               <label for="course_code">کد درس <span class="required">*</span> :</label>
                <input id="course_code" class="form-control" name="course_code" required type="text">
            </div>

			<div class="item form-group">
				<label for="course_name">نام درس <span class="required">*</span> :</label>
				 <input id="course_name" class="form-control" name="course_name" required type="text">
			</div>

            <div class="item form-group">            
                <label for="course_description">توضیحات درس  <span class="required">*</span></label>
                <textarea id="course_description" name="course_description" required class="form-control" data-parsley-trigger="keyup" minlength="10" maxlength="100"></textarea>
            </div>


            <div class="alert alert-success" id="error_div" style="display:none">				
			</div>

            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary">انصراف</button>
                <button id="send" onclick="return generalFormSubmit('#teacher_add_course','/api/course/add')"  type="submit" class="btn btn-success">ارسال</button>
            </div>

       </form>
        <script>
              //$('#teacher_add_course').parsley();
        </script>
    </div>
</div>