<div class="col">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                <small>اطلاعیه ثبت شده توسط شما</small>
            </h2>
            
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>عنوان</th>
                    <th>متن اطلاعیه</th>
                    <th>کد درس</th>
                    <th>ویرایش</th>
                    <th>حذف</th>
                </tr>
                </thead>
                <tbody id = "tabledata">
               
                </tbody>
            </table>

        </div>
    </div>

    <div id="modalx" tabindex="-1" role="dialog" aria-hidden="true" style="display: none">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">

          <div class="modal-header">
            <button id="closemodal" onclick = "bringalluserbroadcast();closeit()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2">ویرایش اطلاعیه</h4>
          </div>
          <div class="modal-body">
                <form id="broadcast"  method='POST' enctype="multipart/form-data" novalidate="" data-parsley-validate onsubmit="return false">
                    {% module xsrf_form_html() %}  
                <div class="item form-group">
                    <label for="title">کد اطلاعیه<span class="required">*</span> :</label>
                    <input id="id" class="form-control" name="id" required data-validate-length-range="6" data-validate-words="2" type="text">
                </div>
                <div class="item form-group">
                   <label for="title">عنوان اطلاعیه <span class="required">*</span> :</label>
                    <input id="title" class="form-control" name="title" required data-validate-length-range="6" data-validate-words="2" type="text">
                </div>
    
                <div class="item form-group">            
                    <label for="description">توضیحات اطلاعیه  <span class="required">*</span></label>
                    <textarea id="description" name="description" required class="form-control" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="بیا دیگه! شما نیاز به وارد کردن حداقل 20 کاراکتر از نظر طول دارید..." data-parsley-validation-threshold="10"></textarea>
                </div>
                
                <div class="ln_solid"></div>
    
                <div class="col-md-6 col-md-offset-3">
                    <button id="send" onclick="generalFormSubmit('#broadcast','/api/broadcast/edit');"  type="submit" class="btn btn-success">ارسال</button>
                </div>
    
           </form>
         </div>
        </div>
    </div>
    <div id="error_div"></div>
    <script>
        bringalluserbroadcast()
    </script>
</div>