<div class="x_panel">
    <div class="x_title">
        <h2>فرم اطلاعیه
            <small>پنل استاد</small>
        </h2>
   
    </div>
    <div class="x_content">
        <br>
        <form id="broadcast"  method='POST' validate enctype="multipart/form-data" novalidate="" data-parsley-validate onsubmit="return false" validate>
                {% module xsrf_form_html() %}  
            <div class="item form-group">
               <label for="title">عنوان اطلاعیه <span class="required">*</span> :</label>
                <input id="title" class="form-control" name="title" required data-validate-length-range="6" data-validate-words="2" type="text">
            </div>

            <div class="item form-group">            
                <label for="description">توضیحات اطلاعیه  <span class="required">*</span></label>
                <textarea id="description" name="description" required class="form-control" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="بیا دیگه! شما نیاز به وارد کردن حداقل 20 کاراکتر از نظر طول دارید..." data-parsley-validation-threshold="10"></textarea>
            </div>
            
            <div class="item form-group">
                <label for="title">دوره <span class="required">*</span> :</label>
                <select id="courseid" name="courseid" class="form-control" required>
                </select>
            </div>

            <div class="ln_solid"></div>

            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary">انصراف</button>
                <button id="send" onclick="return generalFormSubmit('#broadcast','/api/broadcast/add')"  type="submit" class="btn btn-success">ارسال</button>
            </div>

       </form>
       <div id="error_div"></div>
       <script>
        let xsrf = getCookie("_xsrf")
        request = new AjaxRequest("/api/exercise/userCourses", "GET");
        requestPromise = request.process();

        requestPromise.then(function(result) {
            let data = JSON.parse(result);
            let course_list = document.getElementById("courseid")
            for(const item of data['data']){
                let option = document.createElement("option")
                option.value = item[0];
                option.text = item[1];
                course_list.appendChild(option);
            }
            console.log(data['data']);

        });
        requestPromise.catch(function(result) {
            document.querySelector(".login__submit").classList.remove("processing")
            document.querySelector(".login__submit").classList.add("login__failed")
            document.querySelector(".login__submit").innerText = "خطا در ارتباط";
       }); 
       

        
    </script>
    </div>
</div>