<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>سیستم مدیریت آموزشی دانشگاه کاشان | Kashanuni LMS</title>

    <!-- Bootstrap -->
    <link href="/static/panelShared/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/panelShared/css/bootstrap-rtl.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/static/panelShared/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/static/panelShared/css/nprogress.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="/static/panelShared/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/static/panelShared/css/green.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="/static/panelShared/css/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/static/panelShared/css/custom.min.css" rel="stylesheet">
<link href="/static/panelShared/css/styles.css" rel="stylesheet">
<link href="https://cdn.rawgit.com/rastikerdar/vazir-font/v18.0.1/dist/font-face.css" rel="stylesheet" type="text/css" />
    <link href="/static/exercise/css/exercise.css" rel="stylesheet">
    <script src="/static/exercise/js/exercise.js"></script>
    <script src="/static/broadcast/js/broadcast.js"></script>
    <script src="/static/teacher/js/load_combos.js"></script>
    <script src="/static/teacher/js/delete_functions.js"></script>

    
</head>
<!-- /header content -->
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col hidden-print">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-edit"></i> <span>سیستم مدیریت دروس</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="/static/panelShared/images/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>خوش آمدید,</span>
                        <h2>{{username}}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->


                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>عمومی</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-pencil-square-o"></i> تمرین <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="add_exercise.html">اضافه کردن تمرین</a></li>
                                    <li><a href="score.html">نمرات تمرین</a></li>
                                    <li><a href="manage_exercise.html"> مدیریت تمرین</a></li>

                                </ul>
							</li>
							<li><a><i class="fa fa-book"></i> درس <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="manage_courses.html">مدیریت دوره ها</a></li>
									<li><a href="add_course.html">اضافه کردن درس</a></li>
									<li><a href="add_member.html">اضافه کردن دانشجو</a></li>
									<li><a href="delete_member.html">حذف کردن دانشجو</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-newspaper-o"></i> اطلاعیه <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="broadcastform.html">اضافه کردن اطلاعیه</a></li>
                                    <li><a href="broadcast.html">نمایش اطلاعیه</a></li>
                                </ul>
                            </li>

                            <li><a><i class="fa fa-cog"></i> تنظیمات شخصی <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="change_password.html">تغییر رمز</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a id="Logout_Icon" data-toggle="tooltip" data-placement="top" title="خروج" href="/logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav hidden-print">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                <img src="/static/panelShared/images/img.jpg" alt="">{{username}}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"> نمایه</a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>تنظیمات</span>
                                    </a>
                                </li>
                                <li><a href="javascript:;">کمک</a></li>
                                <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> خروج</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->
        <!-- /header content -->

<!-- page content -->
<div id="pageContent" class="right_col" role="main">
    <!-- top tiles -->

</div>
<!-- Custom Theme Scripts -->
<script src="/static/panelShared/js/custom.min.js"></script>
<script src="/static/teacher/js/custom.js"></script>

<script src="/static/general/js/general.js"></script>
<script src="/static/general/js/ajax.js"></script>
<script src="/static/general/js/form-validator.js"></script>

</body>
</html>
