<div class="x_panel">
        <div class="x_title">
            <h2>  مدیریت تمرین ها 
                <small>پنل استاد</small>
            </h2>
        </div>
        <div class="x_content">
            <br>
            <form id="get_course_member" method='POST' enctype="multipart/form-data" validate onsubmit="return false">
                    {% module xsrf_form_html() %}  
                <div class="item form-group">
                    <label for="course">دوره <span class="required">*</span> :</label>
                    <select id="course" name="course" class="form-control" required="">
                    </select>
                </div>
                
                <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-primary">انصراف</button>
                    <button id="send" onclick="return showCourseExercises()"  type="submit" class="btn btn-success">ارسال</button>
                </div>
    
           </form>
    
        </div>
    </div>
    <div id="users_table_div" class="x_panel" style="display:none">
        <div class="x_content">
            <table id="users_table" class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>عنوان تمرین</th>
                    <th>توضیحات</th>
                    <th>فایل</th>
                    <th>زمان شروع</th>
                    <th>زمان پایان</th>
                    <th>حذف</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        request = new AjaxRequest('/api/exercise/userCourses');
        requestPromise = request.process();
        requestPromise.then(function(result) {
            let data = JSON.parse(result);
            for(const course of data['data']){
                let node = document.createElement("option");
                node.value = course[0];
                node.innerText = course[1];
                document.querySelector('#course').appendChild(node);
            }
            return false;
        });



</script>