<div class="x_panel">
        <div class="x_title">
            <h2>  مدیریت دوره ها 
                <small>پنل استاد</small>
            </h2>
        </div>
    </div>
    <div id="users_table_div" class="x_panel">
        <div class="x_content">
            <table id="users_table" class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>عنوان دوره</th>
                    <th>کد درس</th>
                    <th>ایجاد کننده</th>
                    <th>زمان ساخت</th>
                    <th>ترم</th>
                    <th>ایجاد لینک عضویت</th>
                    <th>حذف لینک عضویت</th>
                </tr>
                </thead>
                <tbody id="courses">
                </tbody>
            </table>
        </div>
    </div>
    <script>
        request = new AjaxRequest('/api/exercise/userCourses');
        requestPromise = request.process();
        requestPromise.then(function(result) {
            let data = JSON.parse(result);
            console.log(data['data'])
            for(const course of data['data']){
                let tr = document.createElement("tr");

                let id = document.createElement("td");
                id.innerText = course[0];
                tr.appendChild(id);

                let name = document.createElement("td");
                name.innerText = course[2];
                tr.appendChild(name);

                let code = document.createElement("td");
                code.innerText = course[1];
                tr.appendChild(code);

                let creator = document.createElement("td");
                creator.innerText = course[4];
                tr.appendChild(creator);

                let create_time = document.createElement("td");
                create_time.innerText = course[6];
                tr.appendChild(create_time);


                let semester = document.createElement("td");
                semester.innerText = course[5];
                tr.appendChild(semester);

                let generate_link = document.createElement("td");
                generate_link.innerHTML = `<a href="#" onclick="generate_link_for_course(${course[0]}); return false;">ساخت لینک</a>`;
                tr.appendChild(generate_link);

                let revoke_link = document.createElement("td");
                revoke_link.innerHTML = `<a href="#" onclick="revoke_link_for_course(${course[0]}); return false;"> حذف لینک ها</a>`;
                tr.appendChild(revoke_link);

                document.querySelector('#courses').appendChild(tr);
                console.log(course);
            }
            return false;
        });
        


</script>