<div class="x_panel">
    <div class="x_title">
        <h2>
            <small>اطلاعیه ثبت شده توسط شما</small>
        </h2>
        {% module xsrf_form_html() %}  
        <div class="clearfix"></div>
    </div>
    <div class="x_content" style="display: block;">
        <table class="table table-hover" id = "tabledata">

        </table>

    </div>

</div>
<div id="error_div"></div>
<script>


    function UserCourses(){
        let xsrf = document.querySelector("input[name=_xsrf]").value;
        request = new AjaxRequest('/api/exercise/userCourses', "GET", '', xsrf);
        requestPromise = request.process();
        requestPromise.then(function(result) {
            let getData = JSON.parse(result);
            if(getData['status'] == 200) {
                html =` <thead>
                <tr>
                    <th>#</th>
                    <th>کد درس</th>
                    <th>نام درس</th>
                    <th>لینک تمارین درس</th>
                </tr>
                </thead>
                <tbody >`
                for (let i = 0 ; i < getData['data'].length ; i++){
                    
                    html += `            
                    <tr>
                        <th scope="row">`+i+`</th>
                        <td id="code`+getData['data'][i][0]+`">`+getData['data'][i][1]+`</td>
                        <td id="name`+getData['data'][i][0]+`">`+getData['data'][i][2]+`</td>
                        <td><button onclick='ShowCE(`+getData['data'][i][0]+`)'>نمایش تمارین</button></td>
                    </tr>
                    `
                    
                }
                document.querySelector("#tabledata").innerHTML = html + `</tbody>`
            }
            else {
                errorDiv.className = "alert alert-danger";
                errorDiv.innerText = getData["message"];
                errorDiv.style.display = "";
            }
        });
        requestPromise.catch(function(result) {
            errorDiv.className = "alert alert-danger";
            errorDiv.innerText = "خطا در سرور";
            errorDiv.style.display = "";
        });
    }

    UserCourses();
</script>