*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p,a,del,ins,span,div,input,label,button {
  font-family:'Vazir', sans-serif!important;
}
html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}
body {
  position: relative;
}
@media (max-width: 768px) {
  html, body {
    font-size: 50%;
  }
}

svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: visible;
}

.svg-icon {
  cursor: pointer;
}
.svg-icon path {
  stroke: rgba(255, 255, 255, 0.9);
  fill: none;
  stroke-width: 1;
}

input, button {
  outline: none;
  border: none;
}

#cont {
  position: relative;
  height: 100%;
  background-image: url("../image/slider-2.jpg");
  background-size: cover;
  overflow: auto;
  background-position: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  transition: all 0.4s;
}
#cont.second-bg {
  background-image: url("../image/blur-book.jpg");
}
#cont.third-bg {
  background-image: url("../image/lines.jpg");
}

.demo {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -15rem;
  margin-top: -26.5rem;
  width: 30rem;
  height: 65rem;
  overflow: hidden;
  transition: all 0.8s;
  opacity: 0;
}
.demo.animation {
  opacity: 1;
  top: 50%;
}
.login {
  position: relative;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 78, 210,0.8) 0%, rgba(0, 4, 12, 0.84) 100%);
  transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25), -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 4px;
  display: flex;
}
.login.inactive {
  opacity: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.login__check {
  position: absolute;
  top: 16rem;
  left: 13.5rem;
  width: 14rem;
  height: 2.8rem;
  background: #fff;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.login__check:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 2.8rem;
  height: 5.2rem;
  background: #fff;
  box-shadow: inset -0.2rem -2rem 2rem rgba(0, 0, 0, 0.2);
}
.login__form {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 50%;
  padding: 1.5rem 2.5rem;
  text-align: center;
}
.login__row {
  height: 5rem;
  padding-top: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.login__icon {
  margin-bottom: -0.4rem;
  margin-right: 0.5rem;
}
.login__icon.name path {
  stroke-dasharray: 73.50196075439453;
  stroke-dashoffset: 73.50196075439453;
  -webkit-animation: animatePath 2s 0.5s forwards;
          animation: animatePath 2s 0.5s forwards;
}
.login__icon.pass path {
  stroke-dasharray: 92.10662841796875;
  stroke-dashoffset: 92.10662841796875;
  -webkit-animation: animatePath 2s 0.5s forwards;
          animation: animatePath 2s 0.5s forwards;
}
.login__input {
  display: inline-block;
  width: 22rem;
  height: 100%;
  padding-right: 1.5rem;
  font-size: 1.5rem;
  background: transparent;
  color: #FDFCFD;
  text-align: right;
}
.login__submit {
  position: relative;
  width: 100%;
  height: 4rem;
  margin: 4rem 0 2.2rem;
  color: #fff;
  background-color: #0BBF00;
  font-size: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s,background 0.4s,color 0.4s;
}
.login__submit:hover {
  background: #0FFF00;
  color: #222;
}
.login__submit:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
  width: 3rem;
  height: 3rem;
  border: 2px dotted #fff;
  border-radius: 50%;
  border-left: none;
  border-bottom: none;
  transition: opacity 0.1s 0.4s;
  opacity: 0;
}
.login__signup a {
position: relative;
width: 100%;
height: 4rem;
margin: 5rem 0 2.2rem;
background-color: #008BBA;
border-radius: 3rem;
overflow: hidden;
transition: width 0.3s 0.15s, font-size 0.1s 0.15s,background 0.4s,color 0.4s;
padding: 1px 8px;
}
.login__signup a:hover {
background-color: #00BFFF;
}
.login__submit.processing {
  width: 4rem;
  font-size: 0;
}
.login__submit.processing:after {
  opacity: 1;
  -webkit-animation: rotate 0.5s 0.4s infinite linear;
          animation: rotate 0.5s 0.4s infinite linear;
}
.login__submit.success {
  transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  -webkit-transform: scale(30);
          transform: scale(30);
  opacity: 0.9;
}
.login__submit.success:after {
  transition: opacity 0.1s 0s;
  opacity: 0;
  -webkit-animation: none;
          animation: none;
}
.login__signup {
  font-size: 1.2rem;
  color: #ABA8AE;
}
.login__signup a {
  color: #fff;
  cursor: pointer;
}
.login__success {
	background: rgb(62, 228, 104);
}
.login__failed {
	background: rgb(136, 24, 24);
}
.login__failed:hover {
background: rgb(222, 0, 0);
}
.ripple {
  position: absolute;
  width: 15rem;
  height: 15rem;
  margin-left: -7.5rem;
  margin-top: -7.5rem;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: animRipple 0.4s;
          animation: animRipple 0.4s;
  border-radius: 50%;
}

@-webkit-keyframes animRipple {
  to {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    opacity: 0;
  }
}

@keyframes animRipple {
  to {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    opacity: 0;
  }
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}


#icon-place {
  width: 200px;
  height: 200px;
  background: url(../image/icons.png);
  margin: 0 auto;
  margin-top: 50px;
  cursor: pointer;
  transition: all 0.4s;
  position: relative;
}
#icon-place.user {
  background-position: -200px 0;
}
#icon-place.pass {
  background-position: -400px 0;
}
#icon-place.login {
  background-position: -600px 0;
}
#icon-place.true {
  background-position: -800px 0;
}
#icon-place.false {
  background-position: -1000px 0;
}
#bullets {
bottom: 8px;
position: absolute;
right: 8px;
display: flex;
}
#bullets div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000;
  margin: 2px 4px;
  opacity: 0.6;
  cursor: pointer;
}
#bullets.white div {
  background: #fff;
}
#bullets div.active {
  width: 12px;
  height: 12px;
  margin: 0 2px;
  opacity: 1;
}